#castle, #order, #favors-container{
    height: 100px;
}



.b{
    
    background-color: #DDDDDD;
    margin-bottom: 10px;
    height: 80px;
    text-align: center;

}

.b .owner, .b .worker{
    height: 30px;
}
.b .label {
    height: 20px;
}

.available {
    background-color: #66FF66;
}