#board{
    background-image:url("/static/img/background.jpg");
}

#castle, #order, #favors-container{
    height: 100px;
}

#bridge{
    height: 80px;
}

.icon{
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.b{
    
    background-color: #DDDDDD;
    margin-bottom: 10px;
    height: 80px;
    text-align: center;
    outline: 1px solid black;

}


.b .owner{
    padding-top: 5px;
    height: 25px;
    opacity: 0.5;
}

.b .bailiff {
    padding-top:5px;
}

.b .provost{
    padding-top:10px;
}

.b .worker{
    height: 30px;
}

.b .label {
    height: 20px;
}

.available {
    outline: 3px solid green;
}

.current {
    outline: 2px solid red;
}

.wood { background-color: #E0B97E; }
.stone { background-color: #A3A39B; }
.neutral { background-color: #E0BFB4; }
.residence {background-color: #74B980; }
.prestige {background-color: #85B0D5;}
.null {background-color: #FFFFFF; }
